.CustomHudRoot{
     width: 100%;
     height: 100%;
     z-index: 1;
}

 .mainContainer{
     max-width: 1500px;
     width: fit-children;
     height: fit-children;
     vertical-align: top;
     horizontal-align: center;
     background-color: gradient( linear, 0% 0%, 0% 100%, from( #48495C), color-stop(0.5, #30313D), to( #1B1B21));
     margin-top: 100px;
     border-right: 1px solid #30313D;
     border-left: 1px solid #30313D;
     border-bottom: 1px solid #30313D;
     box-shadow: fill 0px 8px 48px #000000BB;
     visibility: collapse;





     animation-duration: .4s;
     animation-iteration-count: 1;
     animation-timing-function: ease-in-out;
     opacity: 1;
     padding: 15px 0;
     flow-children: down;
 }

 .Visible{
     visibility: visible;
 }

 .title{
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     line-height: 30px;
     color: #FFFFFF;
     horizontal-align: center;
     margin-bottom: 15px;
 }

 .items{
     margin-top: 0px;
     margin-left: 27px;
     margin-right: 27px;
     width: fit-children;
     flow-children: right-wrap;
 }


 #PostGameBG2{
     width: 100px;
     height: 100px;
 }

 .itemButton{
     width: 300px;
     height: 78px;
     box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
     border-radius: 4px;
     background-color: #42705B;
     border: 1px solid #4e9e7a;
     transition-property: background-color, border;
     transition-duration: 0.15s;
     transition-timing-function: ease-in-out;
     text-align: center;
     vertical-align: middle;
     margin: 0 10px;
 }

 .itemButton:hover{

     box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
     background-color: gradient( linear, 0% 0%, 70% 0%, from( #3cc486), to( #259c67));
     border: 1px solid #3feb9d;
 }

 .itemButtonHero{




     max-width: 160px;
     margin: 10px;
 }

 .itemName{
     vertical-align: middle;
     horizontal-align: center;
     font-style: normal;
     font-weight: normal;
     font-size: 36px;
     line-height: 30px;
     color: #ffffffb2;
     text-transform: uppercase;
 }

 .HeroItemName{
     vertical-align: bottom;
     horizontal-align: center;
     font-style: normal;
     font-weight: normal;
     font-size: 36px;
     line-height: 30px;
     color: #ffffffb2;
     text-transform: uppercase;
}